#sobre-mim-conteudo {
    display: flex;
    align-items: center;
    margin: 0 0 1vw 5vw;
    width: 170vh;
    font-size: 1.6vh;
}

#sobre-mim-conteudo p {
    background-color: #41026b;
    padding: 2vh;
    border-radius: 2vh;
}

#sobre-mim-conteudo img {
    width: 25vh;
    height: 25vh;
    margin-right: 3vh;
    background-color: #fff;
    padding: 0 0 0.5vh 0.5vh;
    border-radius: 1vw;
}

#competencias {
    font-size: 4vh;
    height: 10vh;
}

#competencias img {
    width: 8.9vh;
    margin-right: 2vh;
    display: inline;
    font-size: 1vh;
    color: #000;
}


#competencias table {
    width: 100%;
    table-layout: fixed;
}

#competencias td {
    line-height: 15vh;
}

.celula {
    display: flex;
    justify-content: center;
    align-items: center;
}